.header {
    grid-area: h;
    background-color: green;
}

.header img {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
}

.loginBlock {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.loginBlock a {
    color: white;
}